{
  "version": 1,
  "minor_version": 4,
  "key": "core.config",
  "data": {
    "latitude": 53.2296507,
    "longitude": 6.5645971,
    "elevation": 0,
    "unit_system_v2": "metric",
    "location_name": "Home",
    "time_zone": "Europe/Amsterdam",
    "external_url": "https://homeassistant.therobo.nl",
    "internal_url": null,
    "currency": "EUR",
    "country": "NL",
    "language": "en-GB",
    "radius": 100
  }
}